<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/hojadevida.css">

    <script type="text/javascript" src="../bootstrap/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/hojadevida.js"></script>

    <title>Hoja de vida Ruth</title>
</head>

<body>
    
    <div class="jumbotron container info ">
            <div class="contenedor">
                    <h4 class="center">HOJA DE VIDA</h4><br>
                   <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"><p></p><img style="width: 50%;" class="center;" src="../images/ruthf.jpg" alt="Italian Trulli"></p></div>
                        <div class="col-sm-4"></div>
                   </div>
                    

                    
                   
        <a href="#" onClick="getName()">getName</a>  


        <div class="position"> <!--  cuerpo de la hoja de vida -->
            <br>
            <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    Nombre : 
                  </div>
                  <div class="col-sm-6">
                    <input type="text" value="" placeholder="Ruth Elsy" id='nombre'>
                  </div>                  
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                  <div class="col-sm-6 top-5">
                    Apellido : 
                  </div>
                  <div class="col-sm-6 tp-5">
                    <input type="text" value="" placeholder="Tobar" id=''>
                  </div>                  
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    Documento Identidad: 
                  </div>
                  <div class="col-sm-6">
                    <input type="text" value="" placeholder="1005348954" id=''>
                  </div>                  
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    Fecha de expedicion: 
                  </div>
                  <div class="col-sm-6">
                    <input type="text" value="" placeholder="" id=''>
                  </div>                  
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    Fecha y lugar de Nacimiento: 
                  </div>
                  <div class="col-sm-6">
                    <input type="text" value="" placeholder="" id=''>
                  </div>                  
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    Estado Civil: 
                  </div>
                  <div class="col-sm-6">
                    <input type="text" value="" placeholder="" id=''>
                  </div>                  
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    Telefono Fijo: 
                  </div>
                  <div class="col-sm-6">
                    <input type="text" value="" placeholder="" id=''>
                  </div>                  
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    Telefono Movil: 
                  </div>
                  <div class="col-sm-6">
                    <input type="text" value="" placeholder="" id=''>
                  </div>                  
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    Correo Electronico: 
                  </div>
                  <div class="col-sm-6">
                    <input type="text" value="" placeholder="" id=''>
                  </div>                  
                </div>
            </div>
        </br>

            <br>
        
                <div class="contenedor">
                    <h4 class="center">PERFIL</h4><br>
                    <p><textarea name="comentario" rows="8" cols="100">Descripcion: </textarea></p>
                    <br>
                </div>
                
        
                <div class="contenedor">
                    <h4 class="center">REFERENCIAS PERSONALES</h4><br>
                    <div class="container">
                            <div class="row">
                              <div class="col-sm-6">
                                Nombre: 
                              </div>
                              <div class="col-sm-6">
                                <input type="text" value="" placeholder="" id=''>
                              </div>                  
                            </div>
                        </div>
                        <div class="container">
                                <div class="row">
                                  <div class="col-sm-6">
                                    Apellido: 
                                  </div>
                                  <div class="col-sm-6">
                                    <input type="text" value="" placeholder="" id=''>
                                  </div>                  
                                </div>
                            </div>
                            <div class="container">
                                    <div class="row">
                                      <div class="col-sm-6">
                                        Ocupacion: 
                                      </div>
                                      <div class="col-sm-6">
                                        <input type="text" value="" placeholder="" id=''>
                                      </div>                  
                                    </div>
                                </div>
                                <div class="container">
                                        <div class="row">
                                          <div class="col-sm-6">
                                            Telefono Contacto: 
                                          </div>
                                          <div class="col-sm-6">
                                            <input type="text" value="" placeholder="" id=''>
                                          </div>                  
                                        </div>
                                    </div>
                   
                </div>
                <div class="contenedor">
                    <h4 class="center">REFERENCIAS FAMILIARES</h4><br>
                    <div class="container">
                            <div class="row">
                              <div class="col-sm-6">
                                Nombre: 
                              </div>
                              <div class="col-sm-6">
                                <input type="text" value="" placeholder="" id=''>
                              </div>                  
                            </div>
                        </div>
                        <div class="container">
                                <div class="row">
                                  <div class="col-sm-6">
                                    Apellido: 
                                  </div>
                                  <div class="col-sm-6">
                                    <input type="text" value="" placeholder="" id=''>
                                  </div>                  
                                </div>
                            </div>
                            <div class="container">
                                    <div class="row">
                                      <div class="col-sm-6">
                                        Ocupacion: 
                                      </div>
                                      <div class="col-sm-6">
                                        <input type="text" value="" placeholder="" id=''>
                                      </div>                  
                                    </div>
                                </div>
                                <div class="container">
                                        <div class="row">
                                          <div class="col-sm-6">
                                            Telefono de Contacto: 
                                          </div>
                                          <div class="col-sm-6">
                                            <input type="text" value="" placeholder="" id=''>
                                          </div>                  
                                        </div>
                                    </div>
                </div>
                <div class="contenedor">
                    <h4 class="center">ESTUDIOS PRIMARIOS</h4><br>
                    <div class="container">
                            <div class="row">
                              <div class="col-sm-6">
                                Institucion: 
                              </div>
                              <div class="col-sm-6">
                                <input type="text" value="" placeholder="" id=''>
                              </div>                  
                            </div>
                        </div>
                        <div class="container">
                                <div class="row">
                                  <div class="col-sm-6">
                                    Ano Inicio: 
                                  </div>
                                  <div class="col-sm-6">
                                    <input type="text" value="" placeholder="" id=''>
                                  </div>                  
                                </div>
                            </div>
                            <div class="container">
                                    <div class="row">
                                      <div class="col-sm-6">
                                        Ano Final: 
                                      </div>
                                      <div class="col-sm-6">
                                        <input type="text" value="" placeholder="" id=''>
                                      </div>                  
                                    </div>
                                </div>
                                <div class="container">
                                        <div class="row">
                                          <div class="col-sm-6">
                                            Departamento y Municipio: 
                                          </div>
                                          <div class="col-sm-6">
                                            <input type="text" value="" placeholder="" id=''>
                                          </div>                  
                                        </div>
                                    </div>
                                    <div class="contenedor">
                                            <h4 class="center">ESTUDIOS SECUNDARIOS</h4><br>
                    <div class="container">
                            <div class="row">
                              <div class="col-sm-6">
                                Institucion: 
                              </div>
                              <div class="col-sm-6">
                                <input type="text" value="" placeholder="" id=''>
                              </div>                  
                            </div>
                        </div>
                        <div class="container">
                                <div class="row">
                                  <div class="col-sm-6">
                                    Ano Inicio: 
                                  </div>
                                  <div class="col-sm-6">
                                    <input type="text" value="" placeholder="" id=''>
                                  </div>                  
                                </div>
                            </div>
                         <div class="container">
                                    <div class="row">
                                      <div class="col-sm-6">
                                        Ano Final: 
                                      </div>
                                      <div class="col-sm-6">
                                        <input type="text" value="" placeholder="" id=''>
                                      </div>                  
                                    </div>
                                </div>
                        <div class="container">
                                        <div class="row">
                                          <div class="col-sm-6">
                                            Departamento y Municipio: 
                                          </div>
                                          <div class="col-sm-6">
                                            <input type="text" value="" placeholder="" id=''>
                                          </div>                  
                                        </div>
                                    </div>
                </div>
        </div-->
    </div>

</body>

</html>